<div id="browse-wrapper">
	<img src="../resources/images/Front-end-dev1.png">	
	<p>Everything you see, click, and interact with on a website is the work of front-end web development. Client-side frameworks and scripting languages like JavaScript and AngularJS have made interactive websites possible. Here’s a look at how this technology works in the scheme of a website, and some of the most popular scripts and frameworks you should know.</p>

	<p>All websites run on three components: the server, the database, and the client. The client is simply the browser a person is using to view a site, and it’s where client-side technology is unpacked and processed. The server is at a remote location anywhere in the world—housing data, running a site’s back-end architecture, processing requests, and sending pages to the browser. The client is anywhere your users are viewing your site: mobile devices, laptops, or desktop computers. Server-side scripting is executed by a web server; client-side scripting is executed by a browser.</p>

	<p>Client-end scripts are embedded in a website’s HTML markup code, which is housed on the server in a language that’s compatible with, or compiled to communicate with, the browser. The browser temporarily downloads that code, and then, apart from the server, processes it. If it needs to request additional information in response to user clicks, mouse-overs, etc. (called “events”), a request is sent back to the server.</p>

	<p>Client-side scripting is always evolving—it’s growing simpler, more nimble, and easier to use. As a result, sites are faster, more efficient, and less work is left up to the server.</p>	
	<!-- <ul>
		<li><a href="https://angularjs.org/" target="_blank">AngularJS <img src="../resources//images/right-arrow.png"></a></li>
		<li><a href="https://www.youtube.com/watch?v=5uhZCc0j9RY" target="_blank">Angular Routing <img src="../resources//images/right-arrow.png"></a></li>
		<li><a href="https://www.youtube.com/watch?v=euwBAV2-zJA" target="_blank">Dependency Injection <img src="../resources//images/right-arrow.png"></a></li>
		<li><a href=" https://egghead.io/lessons/angularjs-scope-vs-scope" target="_blank">Angular Scopes <img src="../resources//images/right-arrow.png"></a></li>
		<li><a href="http://www.ng-newsletter.com/posts/directives.html" target="_blank">Directives <img src="../resources//images/right-arrow.png"></a></li>
		<li><a href="https://l-lin.github.io/angular-datatables/#/withAjax" target="_blank">jQuery Data Tables<img src="../resources//images/right-arrow.png"></a></li>
	</ul> -->
</div>