<div id="scripting-wrapper">
	<header>Client-Side Programming Languages & Frameworks</header>
	<ul>
		<li><h2>HTML and CSS : </h2> These are the core building blocks of any site. HTML dictates a site’s organization and content. CSS comprises the code for every graphic element—from backgrounds to fonts—that make up the look and feel of a website.</li>
		<li><h2>JavaScript : </h2> JavaScript is client-side scripting. The most widely used client-side script—nearly every site’s front end is a combination of JavaScript and HTML and CSS. JavaScript is fueled by an array of excellent frameworks that simplify it and give it more agility.</li>
	</ul>

	<header class="sub-header">JavaScript Frameworks:</header>
	<ul>
		<li><h2>AngularJS : </h2>An incredibly robust JavaScript framework for data-heavy sites</li>
		<li><h2>JQuery, jQuery Mobile : </h2>A fast, small, JS object library that streamlines how JavaScript behaves across different browsers</li>
		<li><h2>Node.js : </h2> A server-side platform that uses JavaScript, and is changing the way real-time applications can communicate with the server for faster response times and a more seamless user experience. It works with another JavaScript framework, Express.js, to build server-side Web applications.</li>
		<li><h2>Express.js : </h2> Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.</li>
		<li><h2>React :</h2> React abstracts away the DOM from you, giving a simpler programming model and better performance. React can also render on the server using Node, and it can power native apps using React Native</li>
		<li><h2>Backbone.js : </h2> Backbone.js gives structure to web applications by providing models with key-value binding and custom events, collections with a rich API of enumerable functions, views with declarative event handling, and connects it all to your existing API over a RESTful JSON interface.</li>
		<li><h2>Ember.js : </h2> Ember makes Handlebars templates even better, by ensuring your HTML stays up-to-date when the underlying model changes. To get started, you don't even need to write any JavaScript.</li>
		<li><h2>MeteorJS : </h2> Meteor, or MeteorJS is an open-source JavaScript web application framework[2] written using Node.js</li>
	</ul>
</div>