<div id="scss-content-wrapper">
	<ul id="scss-content-listing">
		<li class="variables"><a href="http://compass-style.org/index/variables/" target="_blank">Variables</a></li>
		<li class="nesting">Nesting</li>
		<li class="partials">Partials</li>
		<li class="import">Import</li>
		<li class="mixins"><a href="http://compass-style.org/index/mixins/">Mixins</a></li>
		<li class="inheritance">Inheritance</a></li>
	</ul>

	<ul id="each-prop">
		<li id="variables-wrapper">
			<header>Variables</header>
			<p class="scss-section-wrapper">
				$font-stack:    Helvetica, sans-serif;
				<br />$primary-color: #333;
				<br />
				<br />body {
				  <br />font: 100% $font-stack;
				  <br />color: $primary-color;
				<br />}
			</p>
		</li>
		<li id="nesting-wrapper">
			<header>Nesting</header>
			<p class="scss-section-wrapper">
				nav {
				  <br />ul {
				    <br />margin: 0;
				    <br />padding: 0;
				    <br />list-style: none;
				  <br />}
				  <br />
				  <br />li { display: inline-block; }
				  <br />
				  <br />a {
				    <br />display: block;
				    <br />padding: 6px 12px;
				    <br />text-decoration: none;
				  <br />}
				<br />}
			</p>
		</li>
		<li id="partials-wrapper">
			<header>Partials</header>
			<p class="scss-section-wrapper">
				A partial is simply a Sass file named with a leading underscore
				<br />underscore lets Sass know that the file is only a partial file and that it should not be generated into a CSS file
				<br />Sass partials are used with the @import directive.
			</p>
		</li>
		<li id="import-wrapper">
			<header>Import</header>
			<p class="scss-section-wrapper">
				// _reset.scss
				<br />
				<br />	html,
				<br />	body,
				<br />	ul,
				<br />	ol {
				<br />	   margin: 0;
				<br />	  padding: 0;
				<br />	}
			</p>
			<p class="scss-section-wrapper">
				// base.scss
				<br />
				<br />@import 'reset';
				<br />
				<br />body {
				<br />  font: 100% Helvetica, sans-serif;
				<br />  background-color: #efefef;
				<br />}
			</p>
		</li>
		<li id="mixins-wrapper">
			<header>Mixins</header>
			<p class="scss-section-wrapper">
				@mixin border-radius($radius) {
				<br />  -webkit-border-radius: $radius;
				<br />     -moz-border-radius: $radius;
				<br />      -ms-border-radius: $radius;
				<br />          border-radius: $radius;
				<br />}
				<br />
				<br />.box { @include border-radius(10px); }
			</p>
		</li>
		<li id="inheritance-wrapper">
			<header>Inheritance</header>
			<p class="scss-section-wrapper">
			<br />.message {
			<br />  border: 1px solid #ccc;
			<br />  padding: 10px;
			<br />  color: #333;
			<br />}
			<br />
			<br />.success {
			<br />  @extend .message;
			<br />  border-color: green;
			<br />}

			</p>
		</li>
	</ul>
	
</div>

