<div id="styling-content-wrapper" style="margin-top: -50px">
	<h1>CSS Preprocessors</h1>
	
	<ul id="css-prepro-list">
		<li><a href="http://sass-lang.com/" target="_blank">Sass</a></li>
		<li><a href="http://lesscss.org/" target="_blank">Less</a></li>
		<li><a href="http://learnboost.github.io/stylus/" target="_blank">Stylus</a></li>
		<li><a href="http://the-echoplex.net/csscrush/" target="_blank">CSS Crush</a></li>
		<li><a href="http://www.myth.io/" target="_blank">Myth</a></li>
	</ul>

	<u1 id="each-css-prepro">
		<li>
			<span>Sass: </span>
			<ul>
				<li><b>- </b>Requires Ruby</li>
				<li><b>- </b>Two syntaxes namely Sass (original syntax ) and Scss (  a newer syntax that’s very similar to native CSS )</li>
			</ul>
		</li>
		<li>
			<span>Less: </span>
			<ul>
				<li><b>- </b>Extends CSS syntax</li>
				<li><b>- </b>Runs inside Node</li>
			</ul>
		</li>
		<li>
			<span>Stylus: </span>
			<ul>
				<li><b>- </b>NodeJS-based</li>
				<li><b>- </b>Feature rich extension of CSS</li>
				<li><b>- </b>An additional component and mixin library called Nib is also available.</li>
			</ul>
		</li>
		<li>
			<span>CSS Crush: </span>
			<ul>
				<li><b>- </b>Implemented in PHP</li>
			</ul>
		</li>
		<li>
			<span>Myth: </span>
			<ul>
				<li><b>- </b>Requires Node.js</li>
			</ul>
		</li>
	</ul>
</div>