<div id="styling-comp-Wrapper">
	<section>
		<h2>CSS</h2>

		<p class="each-style-wrapper">
			#header {
				<br />margin: 0;
				<br />border: 1px solid red;
			<br />}
			<br />#header p {
				<br />font-size: 12px;
				<br />font-weight: bold;
				<br />color: red;
			<br />}

			<br />#header a {
				<br />text-decoration: none;
			<br />}
		</p>
	</section>
		
	<section>
		<h2>SCSS</h2>

		<p class="each-style-wrapper">
			$colorRed: red;
			<br />#header {
			<br />margin: 0;
			<br />border: 1px solid $colorRed;
				<br />p {
				<br />color: $colorRed;
				<br />ont: {
					<br />size: 12px;
					<br />weight: bold;
					<br />}
				<br />}

				<br />a {
					<br />text-decoration: none;
				<br />}
			<br />}
		</p>
	</section>

	<section>
		<h2>SASS</h2>

		<p class="each-style-wrapper">
			$colorRed: red
			<br />#header
				<br />margin: 0
				<br />border: 1px solid $colorRed
			<br />p
				<br />color: $colorRed
				<br />font:
				<br />size: 12px
				<br />weight: bold

			<br />a
				<br />text-decoration: none
		</p>
	</section>
</div>