@mixin size($width: 100%, $height: auto){
	width: $width;
	height: $height;
	overflow-x: hidden;
}

@mixin alignment($align: left, $width: 50%) {
	float: $align;
	@include size($width);
}

@mixin bg-gradient($color1:$greyshade4, $color2:$greyshade2 ) {
	background: -webkit-linear-gradient($color1, $color2); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient($color1, $color2); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($color1, $color2); /* For Firefox 3.6 to 15 */
	background: linear-gradient($color1, $color2);
	border: 1px solid $greyshade4;
}

@mixin selectMenu($color: $green) {
	background-color: $color;
	padding: 9px;
	color: $white;
	text-align: left;
	list-style-type: none;
	@include size(20%);

}
@mixin each-css-section($color: $greyshade1){
	width: 84%;
	background-color: $color;
	padding: 10px;
	color: $greyshade3;
}
